In [2]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("Resources", "Decision_Tree.csv"))
df.head()

       Brand  Fabric  Bust  Height        Hip          Length  Size
0     Amazon    Silk  32.0     5.6  37.000000      just right     4
1      Macys  Cotton  34.0     5.6  36.000000  slightly short     4
2      Macys  Cotton  34.0     5.3  40.358501      just right     4
3  Nordstorm  Cotton  32.0     5.1  35.000000   slightly long     4
4     Amazon    Silk  32.0     5.6  32.000000      just right     4

In [4]:
df["Length"].value_counts()

just right        55793
slightly long     10552
slightly short     5622
very long          2288
very short          722
Name: Length, dtype: int64

In [5]:
df.Length = df.Length.replace({"just right": 1,
                               "slightly long": 2,
                               "slightly short": 3,
                               "very long":4,
                               "very short":5
                              })

In [6]:
df["Fabric"].value_counts()

Crepe     15089
Silk      14986
Nylon     14971
Denim     14969
Cotton    14962
Name: Fabric, dtype: int64

In [7]:
df.Fabric = df.Fabric.replace({"Crepe": 1,
                               "Silk": 2,
                               "Nylon": 3,
                               "Denim":4,
                               "Cotton":5
                              })

In [8]:
df["Brand"].value_counts()

Macys              18904
Banana Republic    18777
Nordstorm          18752
Amazon             18544
Name: Brand, dtype: int64

In [9]:
df.Brand = df.Brand.replace({"Macys": 1,
                               "Banana Republic": 2,
                               "Nordstorm": 3,
                               "Amazon":4
                              })

In [10]:
df.head()

   Brand  Fabric  Bust  Height        Hip  Length  Size
0      4       2  32.0     5.6  37.000000       1     4
1      1       5  34.0     5.6  36.000000       3     4
2      1       5  34.0     5.3  40.358501       1     4
3      3       5  32.0     5.1  35.000000       2     4
4      4       2  32.0     5.6  32.000000       1     4

In [11]:
df.to_csv("Resources/Decision_Tree_Final.csv", index=False, header=True)

In [12]:
target = df["Length"]
target_names = ["Just Right", "Slightly Long","Slightly Short","Very Long","Very Short"]

In [13]:
data = df.drop("Length", axis=1)
feature_names = data.columns
data.head()

   Brand  Fabric  Bust  Height        Hip  Size
0      4       2  32.0     5.6  37.000000     4
1      1       5  34.0     5.6  36.000000     4
2      1       5  34.0     5.3  40.358501     4
3      3       5  32.0     5.1  35.000000     4
4      4       2  32.0     5.6  32.000000     4

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [15]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6372365964257135

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6902107228594292

In [17]:
x = sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [18]:
type(x)

list

In [20]:
x[1]

(0.15650044951860428, 'Size')

In [21]:
x

[(0.31830314699797657, 'Hip'),
 (0.15650044951860428, 'Size'),
 (0.14348722671361236, 'Fabric'),
 (0.1398449683871754, 'Bust'),
 (0.13684434033681933, 'Height'),
 (0.10501986804581184, 'Brand')]