In [1]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("Resources", "Decision_Tree.csv"))
df.head()

       Brand  Fabric  Bust  Height        Hip          Length  Size
0     Amazon    Silk  32.0     5.6  37.000000      just right     4
1      Macys  Cotton  34.0     5.6  36.000000  slightly short     4
2      Macys  Cotton  34.0     5.3  40.358501      just right     4
3  Nordstorm  Cotton  32.0     5.1  35.000000   slightly long     4
4     Amazon    Silk  32.0     5.6  32.000000      just right     4

In [4]:
df["Length"].value_counts()

just right        55793
slightly long     10552
slightly short     5622
very long          2288
very short          722
Name: Length, dtype: int64

In [5]:
df.Length = df.Length.replace({"just right": 1,
                               "slightly long": 2,
                               "slightly short": 3,
                               "very long":4,
                               "very short":5
                              })

In [12]:
df["Fabric"].value_counts()

Crepe     15089
Silk      14986
Nylon     14971
Denim     14969
Cotton    14962
Name: Fabric, dtype: int64

In [13]:
df.Fabric = df.Fabric.replace({"Crepe": 1,
                               "Silk": 2,
                               "Nylon": 3,
                               "Denim":4,
                               "Cotton":5
                              })

In [20]:
df["Brand"].value_counts()

Macys              18904
Banana Republic    18777
Nordstorm          18752
Amazon             18544
Name: Brand, dtype: int64

In [21]:
df.Brand = df.Brand.replace({"Macys": 1,
                               "Banana Republic": 2,
                               "Nordstorm": 3,
                               "Amazon":4
                              })

In [22]:
df.head()

   Brand  Fabric  Bust  Height        Hip  Length  Size
0      4       2  32.0     5.6  37.000000       1     4
1      1       5  34.0     5.6  36.000000       3     4
2      1       5  34.0     5.3  40.358501       1     4
3      3       5  32.0     5.1  35.000000       2     4
4      4       2  32.0     5.6  32.000000       1     4

In [23]:
df.to_csv("Resources/Decision_Tree_Final.csv", index=False, header=True)

In [24]:
target = df["Length"]
target_names = ["Just Right", "Slightly Long","Slightly Short","Very Long","Very Short"]

In [25]:
data = df.drop("Length", axis=1)
feature_names = data.columns
data.head()

   Brand  Fabric  Bust  Height        Hip  Size
0      4       2  32.0     5.6  37.000000     4
1      1       5  34.0     5.6  36.000000     4
2      1       5  34.0     5.3  40.358501     4
3      3       5  32.0     5.1  35.000000     4
4      4       2  32.0     5.6  32.000000     4

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6378767671379034

In [28]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6897839423846359

In [29]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3182988774212065, 'Hip'),
 (0.16182974443867681, 'Size'),
 (0.14515020880508328, 'Fabric'),
 (0.13939970581532413, 'Bust'),
 (0.1338144940437551, 'Height'),
 (0.10150696947595415, 'Brand')]